<div class="container mt-4">
    <div class="d-flex">
        <div class="p-2 flex-shrink-1 ms-auto">
            <button type="button" class="btn btn-export">Xuất ebook</button>
        </div>
    </div>

    <div class="name-novel">
        TÂY DU KÝ
    </div>
    <div class="text-content text-center">
        Chương 1: Khí thiêng kết tụ sanh khỉ đá Tâm thành tu niệm đạo nhân gian
    </div>
</div>

<div class="text-center mt-4" style="background-color: #EFF8FE;">
    <br>
    <p>Nếu không xem được truyện vui lòng đổi <strong>“SERVER ẢNH”</strong> bên dưới</p>
    <button type="button" class="btn btn-success mb-4">Server 1</button>
    <button type="button" class="btn btn-primary mb-4" style="margin-left: 30px;">Server 2</button>
</div>

<div class="container mt-4 mb-4">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link select-chapter" href="#" aria-label="Previous">
                    <span aria-hidden="true"><i class="fa-solid fa-angles-left"></i> Chương trước</span>
                </a>
            </li>
            <li class="page-item">
                <select class="form-select select-chapter" aria-label="Default select example">
                    <option selected>Chương 1</option>
                    <option value="1">Chương 1</option>
                    <option value="2">Chương 2</option>
                    <option value="3">Chương 3</option>
                </select>
            </li>
            <li class="page-item">
                <a class="page-link select-chapter" href="#" aria-label="Next">
                    <span aria-hidden="true">Chương sau <i class="fa-solid fa-angles-right"></i></span>
                </a>
            </li>
        </ul>
    </nav>

    <div class="text-content text-center mb-4">
        Content
    </div>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link select-chapter" href="#" aria-label="Previous">
                    <span aria-hidden="true"><i class="fa-solid fa-angles-left"></i> Chương trước</span>
                </a>
            </li>
            <li class="page-item">
                <select class="form-select select-chapter" style="color: #EFF8FE;" aria-label="Default select example">
                    <option selected>Chương 1</option>
                    <option value="1">Chương 1</option>
                    <option value="2">Chương 2</option>
                    <option value="3">Chương 3</option>
                </select>
            </li>
            <li class="page-item">
                <a class="page-link select-chapter" href="#" aria-label="Next">
                    <span aria-hidden="true">Chương sau <i class="fa-solid fa-angles-right"></i></span>
                </a>
            </li>
        </ul>
    </nav>
</div>