.search-bar {
    width: 100%;

    .search-field {
        align-self: center;
        width: 30%;
        border-radius: 10px;
    }
}


.pointer {
    cursor: pointer;
}

.font-header {
    display: inline-block;
}

.footer-background {
    background-color: #FAE6D4;
}

.font-footer {
    font-family: 'Hannari', sans-serif;
    font-size: 2em;
    margin-left: 10px;
}

.font-footer2 {
    font-family: 'Hannari', sans-serif;
    font-size: 1em;
    color: #897272;
}

.footer-height {
    height: 200px;
}

.footer-text {
    white-space: nowrap;
}

.footer-text {
    color: #000000;
}

.second-nav {
    background-color: #2B3467;

    i[class*="-icon"],
    span[class*="-icon"] {
        color: white;
    }
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    color: #000;
    /* Set the color to black */
}
